/* ------------------------------fonts-------------------------------------- */
/* fira-sans-regular - latin */
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/fira-sans-v11-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/fira-sans-v11-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/fira-sans-v11-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/fira-sans-v11-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/fira-sans-v11-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/fira-sans-v11-latin-regular.svg#FiraSans') format('svg'); /* Legacy iOS */
}
/* fira-sans-500 - latin */
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/fira-sans-v11-latin-500.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/fira-sans-v11-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/fira-sans-v11-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/fira-sans-v11-latin-500.woff') format('woff'), /* Modern Browsers */
       url('../fonts/fira-sans-v11-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/fira-sans-v11-latin-500.svg#FiraSans') format('svg'); /* Legacy iOS */
}
/* fira-sans-700 - latin */
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/fira-sans-v11-latin-700.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/fira-sans-v11-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/fira-sans-v11-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/fira-sans-v11-latin-700.woff') format('woff'), /* Modern Browsers */
       url('../fonts/fira-sans-v11-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/fira-sans-v11-latin-700.svg#FiraSans') format('svg'); /* Legacy iOS */
}
/* ------------------------------fonts-------------------------------------- */

body{
    font-family: 'Fira Sans', sans-serif;
    color: #8d8d8d;
    font-size: 18px;
  }

button{
  display: block;
  border: none;
  background: transparent;
}
.vh-dependent{
  height: 35vh;
  display: flex;
  align-items: center;
}

h1, h2, h3, h4, h5, h6{
  font-style: normal;
  font-weight: 700;
  margin: 0;
  padding: 0;
  color: #222222;
}
h1{
  color: #151515;
}
h2{
  font-size: 40px;
}
h3{
  font-size: 22px;
}
ul, li{
  display: block;
  padding: 0;
  margin: 0;
}
.btn{
  background-color: #4737ff;
  color: #FFFFFF;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 14px;
  padding: 13px 26px;
  border: none;
  display: inline;
  border-radius: 0%;
  letter-spacing: 0.3em;
  transition: all 0.5s ease;
}
.btn:hover{
  background-color: #3726f2;
  color: #ffffff !important;
}
.be-static{
  position: static;
}
.header{
  height: 95vh;
}
.nav{
  padding-top: 59px;
  margin-bottom: 127px;
}
.logo{

}

.search{

}


.menu{


}

.offer-cont__title{
  font-size: 60px;
  letter-spacing: -0.01em;
}

.offer-cont__text{
  margin: 30px 0 56px;
  padding-right: 10%;
}

.offer-cont__btn{
  
}
.hero-div{
  position: static;
  /* width: 100%; */
}
.hero{
  background: url('../img/img1.jpg') no-repeat right top;
  background-size: 90% 100%;
  width: 55%;
  height: 80vh;
  position: absolute;
  right: 0;
  top: 142px;
}

.video{
  background: url('../img/video.jpg') no-repeat center center;
  display: block;
  position: absolute;
  left: 0;
  bottom: 20%;
  width: 40%;
  height: 33%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.video:after{
  content: "";
  display: block;
  background-image: url('../img/svg/play.svg');
  width: 65px;
  height: 65px;
}

.problems{
  padding: 137px 0 142px 0;
}
.poster{
  width: 100%;
}
.about{

}

.about__title{
  /* font-size: 40px; */
  margin-bottom: 30px;
}
.about_text{
  margin-bottom: 20px;
}
.about__author{
  background: url('../img/author.jpg') no-repeat left center ;
  padding: 7px 0 7px 96px;
  margin-top: 61px;
}
.about__name{
  font-size: 22px;
}
.about__dop{
  margin-bottom: 0;
}

.services{
}
.section-title__label{
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.21em;
  text-transform: uppercase;
  color: #8D8D8D;
  margin-bottom: 40px;
}

.serv-list{
  margin-top: 68px;
}
.serv-list__left{
  margin-left: 37px;
}
.serv-list__item{
  margin-bottom: 22px;
}

.carousel__pic{
  width: 100%;
  object-fit: cover;
}
.slider__playBtn > img{
  z-index: 1;
  display: none;
  opacity: 0;
  position: absolute; 
  top: 42%;
  left: 38%;
  margin: -32px 0 0 -32px;
  transition-duration: 1s;
  transition-property: opacity;
  
}
.glide1{
  margin-top: 90px;
  position: relative;
}
.glide__slide{
  opacity: 0.3;
  transition-duration: 0.7s;
  height: 35vw;
}
.glide__slide--active{
  opacity: 1;
}
/* .glide__slide--active::after{
  background: url('/img/svg/play.svg') no-repeat center center;
  z-index: 1;
} */

.glide__arrows{
  display: flex;
}

.glide__arrow{
  width: 50px;
  height: 50px;
}
.arrow1{
  margin-top: 50px;

}
.glide__arrow--right{
  background: url('/img/svg/Arrow right.svg') no-repeat center center;
  margin-left: 25px; 
}

.glide__arrow--left{
  background: url('/img/svg/Arrow left.svg') no-repeat center center;
}

.slider__info{
  position: absolute;
  top: 50%;
  left: 50%;
}
.result{
  padding-top: 219px;
  
}
.collage{
  width: 50%;
  height: 540px;
  background: url('/img/collage1.jpg') no-repeat left top / 80% 80%;
  position: absolute;
  left: 0;
}

.collage img{
  display: block;
  width: 350px;
  height: 453px;
  position: absolute;
  right: 0;
  bottom: 0; 

  box-shadow: 30px 80px 130px rgba(0, 0, 0, 0.25);

}

.easy{
  /* padding-left: 8.33vw; */
  margin-left: 65px; 
 margin-top: 30px;
}
.easy__title{
  margin-bottom: 30px;
}
.easy__text{
  margin-bottom: 30px;
}
.easy__point{
  padding-left: 83px;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 14px;
  color: #000000;
  letter-spacing: 0.3em;
  padding-top: 20px;
}

.easy__point_first{
background: url('/img/svg/100 icon.svg') no-repeat left center;
line-height: 54px;
margin-bottom: 7px;
}

.easy__point_second{
background: url('/img/svg/Bag icon.svg') no-repeat left center;
line-height: 54px;
  
}

.works{
  padding-top: 283px;
}

.work-tabs{
  /* margin-left: 60px; */
  /* display: flex; */
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.3em;
  margin-top: 73px;
}


.work-tabs__item a{
  text-decoration: none;
  color: #BCBCBC;
}

.work-tabs__item.active a{
  color: #1434E1;
}

.works-wrap{
  /* flex-wrap: wrap; */
  margin-top: 6.95vw;
}
.works-wrap__item{
  margin-bottom: 30px;
  /* position: relative; */
}
.works-wrap__item img{
  transition: all 1s ease;
}
.works-wrap__item:hover img{
  box-shadow: -30px 80px 200px rgba(0, 0, 0, 0.25);
  transform: translateY(-20px);
}
.works-wrap__item:after{
  content: "";
  display: block;
  background-image: url('../img/svg/play.svg');
  width: 65px;
  height: 65px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -32px;
  margin-top: -32px;
  opacity: 0;
  transition-duration: 1s;
  transition-property: opacity transform;
}

.works-wrap__item:hover:after{
  -moz-transform: translate(0px, -20px);
  -webkit-transform: translate(0px, -20px);
  -o-transform: translate(0px, -20px);
  -ms-transform: translate(0px, -20px);
  transform: translate(0px, -20px);
  opacity: 1;

}
.glide2 .glide__slide{
  height: unset;
}

.testimonials{
  padding-top: 248px;
}

.contributor{
  margin-top: 120px;
}

.contributor__title{
  margin-bottom: 10px;
}

.arrows2{
  transform: translateY(-100%);
  ;
}

.cont-photo{
  /* margin-left: auto; */
  width: 100%;
}
.clients{
  padding-top: 248px;
}
.clients .section-title__label{
  color: #222222;
  margin-bottom: 17px;
}
.clients .section-title{
  color: #636363;
}

.clients-row{
  margin-top: 127px;
}
.clients-row__item{
  width: 52px;
  height: 69px;
}
.footer{
  margin-top: 136px;;
  background: #515151;
  height: clamp(100px, 16.5vw, 240px);
  /* max-height: 240px; */
}

@media screen and (max-width: 1200px){
  h2{
    font-size: calc(1.325rem + .9vw)!important;
  }

  .contributor{
    margin-top: 35px !important;
  }

  .result {
    padding-top: 100px;
  }
}

@media screen and (max-width: 992px){
  h1{
    font-size: calc(2.2rem + .9vw)!important;
  }
  
  .problems {
    padding-bottom: 70px;
  }
  .works, .testimonials{
    padding-top: 170px;
  }
  .work-tabs{
    margin-top: 4vw;
  }
}
@media screen and (max-width: 768px){
  .header{
    height: auto;
  }
  .nav {
    margin-bottom: 50px;
  }
  
 .offer-cont{
    margin-bottom: 40px;
 }
 .offer-cont__text {
  margin: 20px 0 30px;
  padding-right: 10%;
}
  .hero{
    height: 200px;
    position: relative;
    width: 70%;
    top: 0;
  }
  .vh-dependent{
    height: auto;
    display: flex;
    align-items: center;
  }
  .video{
    height: 67%;
  }

  .collage{
    position: relative;
    width: 100%;
  }
  .about__title{
    padding-top: 30px;
  }

  .slider__playBtn > img{
    top: 38%;
    left: 50%;
  }

  .arrows1{
    justify-content: center;
  }

  .easy__title{
      padding-top: 35px;
  }
  .works{
    padding-top: 100px;
  }
  .arrows2{
    transform: unset;
    margin-top: 20px;
  }
  .section-title{
    margin-top: 50px;
  }
  .work-tabs__item a{
   margin: 0 5px;
  }

  .testimonials{
    padding-top: 50px;;
  }
  .clients-row {
    margin-top: 80px;
  }
  .footer{
    margin-top: 60px;
  }
}

@media screen and (max-width: 576px){
  .testimonials{
    padding-top: 50px;;
  }
  .clients {
    padding-top: 60px;
}
}